body{
    background-color:#707672;
}

.btn a {
    text-decoration: none;
    color: white;
    background-color: #adadad;
    opacity:80%;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:15px;
}

.btn a:hover{
    text-decoration: none;
    color: white;
    background-color: #adadad;
    opacity:80%;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:15px;
    border:white solid 1px;
}

.whiteMid{
    position:absolute;
    left:42%;
    top:15%;
}

.description{
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 60px;
    color: white;
    position:absolute;
    width:40%;
    left:30%;
    top:57%;
    text-align: center;
    font-weight: 300;
    line-height: 70px;
}

.aboutus{
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 120px;
    color: white;
    position:absolute;
    width:50%;
    left:10%;
    top:20%;
    line-height: 100px;
}
.ourRankings{
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 120px;
    color: white;
    position:absolute;
    width:50%;
    left:30%;
    top:15%;
    line-height: 100px;
}

.ranks{
    background-color: white;
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 30px;
    color: white;
    position:absolute;
    height:45%;
    width:65%;
    left:27%;
    top:45%;
    line-height: 100px;
}

.details{
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 25px;
    color: white;
    position:absolute;
    width:45%;
    left:10%;
    top:47%;
}

#asEmployee, #asCompany{
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 30px;
    color:white;
    position:absolute;
    width:30%;
    bottom:13%;
}
.searchBar{
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #adadad;
    padding:3px;
    padding-left:10px;
    padding-right:100px;
    border-radius:50px;
}
#asCompany{
    right:43%;
}
#asEmployee{
    left:43%;
}
#logIn, #rankings, #rankAboutUs{
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 25px;
    color:white;
    position:absolute;
    left:9%;
    bottom:7%;
}
#rankings, .searchBar{
    position:absolute;
    left:85%;
    top:9px;
}
#rankAboutUs{
    position:absolute;
    left:50%;
    bottom:7%;
}

.logoTopLeft{
    position:absolute;
    top:20px;
    left:20px;
    width:7%;
}
.logoTopLeftBig{
    position:absolute;
    top:20px;
    left:85px;
    width:50%;
}

.leftBar{
    background-color: #a5c4b5;
    position:absolute;
    width:27%;
    height:100%;
    
}

.maleFemale{
    position:absolute;
    width:40%;
    right:5%;
    top:30%;
}

.right{
    font-family: 'Berlin Sans FB', sans-serif;
    font-size:40px;
    color:#707672;
    background-color: #a5c4b5;
    position: absolute;
    right:50px;
    top:30px;
    width:40%;
    height:92%;
    border-radius:20px;
    padding:30px;
}
#company, #employee{
    position: absolute;
    bottom:30px;
    left:100px;
    width: 40%;
}

nav{
    width:50%;
    position:absolute;
    left:3%;
    top:5%;
    margin:5px;
}
